* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}
body {
  background-color: #f2f2f1;
  overflow-x: hidden;
}
header {
  display: flex;
  grid-area: header;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #026937;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.logo {
  width: 90px;
  height: 90px;
  margin-left: 27px;
  margin-top: 6px;
}
#Buscar {
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
  border-radius: 5px;
  height: 48px;
  margin-top: 27px;
  margin-left: 60px;
  align-items: center;
  width: 50vw;
}
#search {
  margin-bottom: 20px;
  border: #fff;
  border-radius: 5px;
  height: 20px;
  margin-right: 1%;
  margin-top: 20px;
  width: 60vw;
}
.lupa {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-left: 115px;
}
nav {
  grid-area: nav;
}
#menu-h {
  align-items: center;
}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 1%;
  display: flex;
  list-style: none;
  margin: 5 auto;
  justify-content: center;
}

#menu-h li {
  margin: 0 10px;
}

#menu-h a {
  color: #000000;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  margin-left: 20%;
}

#menu-h ul li a:hover {
  background-color: #026937;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #f2f2f1;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-weight: bold;
}
#carrinho {
  height: 50px;
  width: 50px;
  margin-top: 27px;
  margin-left: 43px;
}
.pessoa {
  width: 50px;
  height: 50px;
  margin-top: 27px;
  margin-left: 43px;
}
#pessoa p {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  margin-left: 44px;
  padding: 3px;
  line-height: 1%;
  opacity: calc(5);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  text-align: center;
}
.equipeifeco {
  max-width: 112%;
  height: 40%;
  border-radius: 10px;
}
.flex-container {
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-weight: bold;
}
.youtube-figure {
  margin: 0;
  padding: 0;
}
.youtube-video {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}
h2 p {
  padding: 10%;
}
#Login p {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
  margin-left: 44px;
  padding: 3px;
  line-height: 1%;
  opacity: calc(5);
}
footer {
  grid-area: "footer";
  background-color: #026937;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer i {
  margin-right: 5px;
}
