@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
  }
  body {
    background-color: #f2f2f1;
    overflow-x: hidden;
  }
.container {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "main"
  "footer";
  
}
header {
  display: flex;
  grid-area: header;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #026937;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.logo {
    width: 90px;
    height: 90px;
    margin-left: 27px;
    margin-top: 6px;
  }
  #Buscar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    border-radius: 5px;
    height: 48px;
    margin-top: 27px;
    margin-left: 60px;
    align-items: center;
    width: 50vw;
  }
  #search {
    margin-bottom: 20px;
    border: #fff;
    border-radius: 5px;
    height: 20px;
    margin-right: 1%;
    margin-top: 20px;
    width: 60vw;
  }
  .lupa {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-left: 115px;
  }
nav {
  grid-area: nav;
}
#menu-h {
  align-items: center;
}

#menu-h ul {
  max-width: 800px;
  list-style: none;
  padding: 1%;
  display: flex;
  list-style: none;
  margin: 5 auto;
  justify-content: center;
}

#menu-h li {
  margin: 0 10px;
}

#menu-h a {
  color: #000000;
  padding: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: "Red Hat Display", sans-serif;
  margin-left: 20%;
}

#menu-h ul li a:hover {
  background-color: #026937;
  transition-duration: 0.4s;
  text-decoration: none;
  color: #f2f2f1;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  font-style: inherit;
  font-weight: bold;
}
#carrinho {
  height: 50px;
  width: 50px;
  margin-top: 27px;
  margin-left: 43px;
}
.carro {
  width: 45vw;
  height: 350px;
  border-bottom: #000000;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  float: left;
  margin-right: 20px;
  vertical-align: middle;
}

.carro p {
  margin-top: 20px;
  line-height: 45vw;
}

hr {
  margin-top: 20px;
  margin-left: 15;
}
h1 {
  margin-top: 80px;
  margin-left: 20px;
}
.centro a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.camisa {
  width: 500px;
  height: 500px;
  margin-right: 45px;
}
.copo {
  margin-right: 45px;
}
.caneca {
  margin-left: 45px;
}
.product {
  display: inline-block;
  text-align: center;
  margin: 110px;
  padding: 10px;
  border: 2px solid #026937;
  box-shadow: #333;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #555555;
  width: 200px;

}
.product img {
  max-width: 100%;
  height: auto;
}
.product h3 {
  margin: 10px 0;
  font-size: 18px;
}
.product p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
.pessoa {
  width: 50px;
  height: 50px;
  margin-top: 27px;
  margin-left: 43px;
}
footer {
  grid-area: "footer";
  background-color: #026937;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer i {
  margin-right: 5px;
}
button{
  display: inline-block;
	background-color: #026937;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 30px;
	border-radius: 25px;
	font-size: 16px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
#carro p{
  display: flex;
  justify-content: center;
  background-color: #026937;
  text-align: start;
  color: white;
  border-radius: 5px;
  width: 50vw;
  margin-top: 40px;
  padding: 10px;
}
